{% extends "odyssey/layout.html" %}

{% block body %}
{% load static %}

<div class="parallaxSafety">
</div>

<br>
<br>

<h4 class="headingOrange"><b>CONTACT <span class="orange">US</span></b></h4>

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Subject</label>
        <input type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="Adding another person to my trip">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Please elaborate on your question</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>

<a class="btn btn-primary align" href="#" id="book">Send</a>

<br>
<br>




{% endblock %}