{% extends "odyssey/layout.html" %}

{% block body %}
{% load static %}

<div class="parallaxIndex">
    <div class="caption">
        <h1><b>ODYSSEY</b></h1>
        <a class="btn btn-light" href="{% url 'register'%}">Where dreams turn to reality.</a>
    </div>
</div>


<h4 class="heading"><b>WELCOME TO THE FUTURE</b></h4>
<p class="text">ODYSSEY provides a one-of-a-kind experience in outerspace. Experience becoming an astronaut for a day.
    More promotional statements blablabalbalbaa</p>
<br>
<div class="align">
    <div class="card-deck">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title"><b>OUR PROGRAM</b></h5>
                <p class="card-text">this page should have details about what the program entails like the itenerary and
                    how people can qualify for going to space. also include the type of vehicles, where to launch to
                    space and the astronaut training program.</p>
                <a href="{% url 'program' %}" class="card-link">Learn more</a>
            </div>
            <img class="card-img-bottom" src="{% static 'odyssey/assets/238x100.png' %}" alt="Card image cap">

        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title"><b>YOUR SAFETY IS OUR GUARANTEE</b></h5>
                <p class="card-text">this page should have all the details about launch and recovery of the space ship.
                    maybe add in a 3d model of the rocket or some graphics about the launch and recovery. add in details
                    about the internal safety systems of rockets ships too.</p>
                <a href="{% url 'safety' %}" class="card-link">Learn more</a>
            </div>
            <img class="card-img-bottom" src="{% static 'odyssey/assets/238x100.png' %}" alt="Card image cap">

        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title"><b>BEGIN YOUR JOURNEY NOW</b></h5>
                <p class="card-text">this page should have a booking system. visitors can check the schedules, launch
                    dates and choose a plan and pay (maybe, if csrf isn't
                    too difficult)</p>
                <a href="{% url 'register' %}" class="card-link">Learn more</a>
            </div>
            <img class="card-img-bottom" src="{% static 'odyssey/assets/238x100.png' %}" alt="Card image cap">

        </div>
    </div>
</div>

<br>

<h4 class="heading"><b>HEAR IT FROM OUR EXPLORERS</b></h4>
<div class="container">
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <div class="img-box"><img src="https://i.ibb.co/d5DY64w/img1.jpg" alt=""></div>
                    <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem
                        tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper
                        malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non
                        aliquet.</p>
                    <p class="overview"><b>Jennifer Smith</b>, Office Worker</p>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="https://i.ibb.co/5FF1vqz/img2.jpg" alt=""></div>
                    <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi
                        a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at
                        mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                    <p class="overview"><b>Dauglas McNun</b>, Financial Advisor</p>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="https://i.ibb.co/Trv7hDv/img3.jpg" alt=""></div>
                    <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia.
                        Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus
                        risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget
                        rutrum.</p>
                    <p class="overview"><b>Hellen Wright</b>, Athelete</p>
                </div>
            </div>
            <!-- Carousel Controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>

<h4 class="heading"><b>START YOUR ODYSSEY</b></h4>
<p>short promo clip about the program maybe?</p>




{% endblock %}