{% extends "odyssey/layout.html" %}

{% block body %}
{% load static %}

<div class="parallaxIndex">
    <div class="caption">
        <h1><b>ODYSSEY</b></h1>
        <a class="btn btn-light" href="{% url 'register'%}" id="homeBtn">Where dreams turn to reality.</a>
    </div>
</div>

<br>
<br>

<h4 class="subheading">WELCOME TO</h4>
<h4 class="headingOrange"><b>THE FUTURE</b></h4>
<p class="centeredText text">Odyssey provides a maginificent, fulfilling, and unique experience for space enthusiasts
    and
    explorers alike. With our decades of experience, we will provide you with a safe and comfortable journey as you
    take a leap towards your dreams.
</p>
<br>

<div class="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/msZo5YZYlQI" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
    </iframe>
</div>

<br>

<br>
<br>

<div class="parallaxGradient">

    <br>
    <br>

    <div class="containerforCards">
        <div class="programCard">
            <h2><b>OUR PROGRAM</b></h2>
            <p>We know that space is an interesting realm to explore. So, here at Odyssey, we let you choose what
                you want to do in outerspace.</p>
            <p><a href="#program">Learn more</a></p>
        </div>

        <div class="programCard">
            <h2><b>YOUR SAFETY IS OUR GUARANTEE</b></h2>
            <p>With decades of research and development, we've mastered the art of space travel.</p>
            <p><a href="{% url 'safety' %}">Learn more</a></p>

        </div>

        <div class="programCard">
            <h2><b>BEGIN YOUR JOURNEY</b></h2>
            <p>Can't wait to chase your dreams? We understand. Go get a head start on your odyssey to space.</p>
            <br>
            <p><a href="{% url 'register' %}">Book a tour</a></p>
        </div>
    </div>

    <br>
    <br>

</div>

<br>
<br>

<h4 class="headingOrange"><b>HEAR IT FROM <span class="orange">OUR EXPLORERS</span></b></h4>

<div class="wrapperTesti border-radius">
    <div class="description">
        <p>Exploring with Odyssey was the best decision I've ever made. As someone who has never been to space before, I
            felt incredibly supported and prepared for the rigor of space travel. The pilots and training staff were
            lovely!</p>
        <p class="author"><b>John Doe, aerospace engineer</b></p>
    </div>
</div>

<div class="wrapperTesti border-radius">
    <div class="description">
        <p>As a retired astronaut, I can confirm that Odyssey is the right company to bring you to space. Their training
            programs, spaceship safety features, and hospitality are top-tier. The quality of guided tours and
            explanations are among the best I've seen.</p>
        <p class="author"><b>Niel Armstrong, retired astronaut</b></p>
    </div>
</div>

<br>
<br>

<div class="parallaxVehicle" id="program">
</div>
<br>
<br>
<h2 class="headingOrange"><b>FIND YOUR <span class="orange">ODYSSEY</span></b></h2>

<br>

<div class="containerforCards">
    <div class="orbitalCard">
        <div class="hoverdiv">
            <div class="labels2"><b>$10k ORBITAL TOUR</b></div>

            <p>The Orbital Tour will bring you on board the Nausica to get a captivating view of the Earth, Moon, and
                its nearby planets. With the large windows of the Nausica, we guarantee that every minute of this trip
                will be filled with astounding views.</p>
            <!--<a href="#">Learn more</a>-->
        </div>
    </div>

    <div class="issCard">
        <div class="hoverdiv">
            <div class="labels2"><b>$10k ISS TOUR</b></div>

            <p>The ISS Tour will take you on board the International Space Station and experience what it's like to be
                an astronaut. Our knowledgeable pilots will provide you with a guided tour of the ISS before orbitting
                around the moon and returning back home to Earth.</p>
            <!--<a href="#">Learn more</a>-->
        </div>
    </div>

    <div class="moonCard">
        <div class="hoverdiv">
            <div class="labels2"><b>$20k MOON TOUR</b></div>

            <p>The Moon Tour will take you to the moon and have some fun in zero gravity. Odyssey's pilots will give you
                a guided tour about moon rocks and other cool
                facts about the moon. On your way home, you will have the opportunity to orbit the Earth and its nearby
                planets.</p>
        </div>
    </div>
</div>

<div class="containerforCards">
    <div class="labels"><b>$10k ORBITAL TOUR</b></div>
    <div class="labels"><b>$10k ISS TOUR</b></div>
    <div class="labels"><b>$20k MOON TOUR</b></div>
</div>

<br>
<br>
<br>
<br>

<div class="training">

    <div class="trainingWords">
        <h4>AND TAKE A STEP TOWARDS</h4>
        <h3><b>YOUR DREAMS</b></h4>
            <p>To ensure your health and safety, Odyssey will train your mind and body for the
                rigor
                of
                spaceflight. Regardless of what odyssey you chose, you will spend a month in one of our facilities to
                familiarize
                yourself with the Nausica and your very own spacecrew.
            </p>
            <p><a href="{% url 'safety' %}">Learn more.</a></p>
    </div>

    <img src="{% static 'odyssey/assets/nausicaAstronauts.jpg' %}">

</div>

<br>
<br>
<br>


{% endblock %}