<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Odyssey{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="{% static 'odyssey/script.js'%}"></script>

    <link type="text/css" href="{% static 'odyssey/styles.css' %}" rel="stylesheet">

    <script>window.onscroll = function () { scrollFunction() };</script>

    <!--navbar-->
    <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark shadow-5-strong">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'odyssey/assets/odysseyLogo.png' %}" width="135" height="60" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">HOME</a>
                    </li>
                    <!--<li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            OUR PROGRAM
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">ORBITAL TOUR</a>
                            <a class="dropdown-item" href="#">ISS TOUR</a>
                            <a class="dropdown-item" href="#">MOON TOUR</a>
                        </div>
                    </li>-->
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}#program">OUR PROGRAM</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'safety' %}">YOUR SAFETY</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'register' %}">BOOK A TOUR</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'contact us' %}">CONTACT US</a>
                    </li>
                    <li class="nav-item text-muted">
                        <a class="nav-link" href="{% url 'sources' %}">TSA DOCUMENTATION</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>

<body>
    <!--start website (inherited to other webpages) -->
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</body>

<!-- Footer -->
<footer>
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
                <p class="font-italic text-muted">We, the Webmaster team from Chapter 1717, affirm that all the
                    templates and
                    themes that are used on this website are built on our own.</p>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i
                                class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i
                                class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i
                                class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4"></h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted"></a></li>
                    <li class="mb-2"><a href="#" class="text-muted"></a></li>
                    <li class="mb-2"><a href="#" class="text-muted"></a></li>
                    <li class="mb-2"><a href="#" class="text-muted"></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">odyssey</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#program" class="text-muted">Our Program</a></li>
                    <li class="mb-2"><a href="{% url 'safety' %}" class="text-muted">Your Safety</a></li>
                    <li class="mb-2"><a href="{% url 'register' %}" class="text-muted">Book a Tour</a></li>
                    <li class="mb-2"><a href="{% url 'contact us' %}" class="text-muted">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
                <p class="text-muted mb-4">Still unsure about your trip? No worries! Sign up for our newsletter and
                    receive monthly updates about our space program.</p>
                <div class="p-1 rounded border">
                    <div class="input-group">
                        <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1"
                            class="form-control border-0 shadow-0">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link"><i
                                    class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>