{% extends "odyssey/layout.html" %}

{% block body %}
{% load static %}

<div class="parallaxOrder">
</div>

<br>
<br>

<h4 class="headingOrange"><b>BOOK A <span class="orange">TOUR</span></b></h4>
<p class="centeredText text">Spaceflight is no easy journey, and we'd like to thank you for
    choosing to fly with Odyssey.</p>
<br>

<div class="card card-body align marginTop">
    {% if messages %}
    {% for message in messages %}
    <div class="card-title">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'submitOrder' %}">
        {% csrf_token %}
        <br>
        <div class="containerforCards">
            <div class="orbitalCard">
                <div class="hoverdiv">
                    <div class="labels2"><b>$10k ORBITAL TOUR</b></div>

                    <p>The Orbital Tour will bring you on board the Nausica to get a captivating view of the Earth,
                        Moon, and
                        its nearby planets. With the large windows of the Nausica, we guarantee that every minute of
                        this trip
                        will be filled with astounding views.</p>
                    <!--<a href="#">Learn more</a>-->
                </div>
            </div>

            <div class="issCard">
                <div class="hoverdiv">
                    <div class="labels2"><b>$10k ISS TOUR</b></div>

                    <p>The ISS Tour will take you on board the International Space Station and experience what it's like
                        to be
                        an astronaut. Our knowledgeable pilots will provide you with a guided tour of the ISS before
                        orbitting
                        around the moon and returning back home to Earth.</p>
                    <!--<a href="#">Learn more</a>-->
                </div>
            </div>

            <div class="moonCard">
                <div class="hoverdiv">
                    <div class="labels2"><b>$20k MOON TOUR</b></div>

                    <p>The Moon Tour will take you to the moon and have some fun in zero gravity. Odyssey's pilots will
                        give you
                        a guided tour about moon rocks and other cool
                        facts about the moon. On your way home, you will have the opportunity to orbit the Earth and its
                        nearby
                        planets.</p>
                </div>
            </div>
        </div>

        <div class="containerforCards">
            <div class="labels"><b>$10k ORBITAL TOUR</b></div>
            <div class="labels"><b>$10k ISS TOUR</b></div>
            <div class="labels"><b>$20k MOON TOUR</b></div>
        </div>
        <br>
        <br>
        <div class="form-group col-md-4">
            <label for="tourChoice">Choose a tour:</label>
            <select name="tourChoice">
                <option value="orbital">$10k Orbital Tour</option>
                <option value="iss">$10k ISS Tour</option>
                <option value="moon">$20k Moon Tour</option>
                <option value="deluxe">$35k Deluxe All-Inclusive Package</option>
            </select>
        </div>
        <br>
        <hr>
        <br>
        <h3 class="align card-title"> ADD THE PASSENGERS </h3>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName"
                    placeholder="Passenger's first name">
            </div>
            <div class="form-group col-md-4">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName"
                    placeholder="Passenger's last name">
            </div>
            <div class="form-group col-md-4">
                <label for="birthday">Birthday</label>
                <input type="text" class="form-control" id="birthday" name="birthday" placeholder="mm/dd/yyyy">
            </div>
        </div>
        <br>
        <hr>
        <br>
        <h3 class="align card-title">CHECKOUT </h3>
        <br>
        <h3 class="align card-title"> BILLING ADDRESS </h3>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstNameBill" name="firstNameBill"
                    placeholder="First name">
            </div>
            <div class="form-group col-md-4">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastNameBill" name="lastNameBill" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" name="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" name="inputAddress"
                placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState" name="inputState">
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip" name="inputZip">
            </div>
        </div>

        <br>
        <h3 class="align card-title"> PAYMENT METHOD </h3>
        <div class="d-block my-3 align">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked=""
                    required="">
                <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="paypal">PayPal</label>
            </div>
        </div>
        <div class="row align">
            <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" name="cc-name" placeholder="" required="">
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback"> Name on card is required </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" name="cc-number" placeholder="" required="">
                <div class="invalid-feedback"> Credit card number is required </div>
            </div>
        </div>
        <div class="row align">
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" name="cc-expiration" placeholder=""
                    required="">
                <div class="invalid-feedback"> Expiration date required </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" name="cc-ccv" placeholder="" required="">
                <div class="invalid-feedback"> Security code required </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <button id="book" class="btn btn-primary btn-lg btn-block" type="submit">Confirm and book the tour</button>
    </form>
</div>

<br>
<br>

{% endblock %}