{% extends "odyssey/layout.html" %}

{% block body %}
{% load static %}

<div class="card card-body align marginTop">
    {% if messages %}
        {% for message in messages %}
            <div class = "card-title">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <form method = "post" action = "{% url 'submitOrder' %}">
        {% csrf_token %}
        <br>
        <h3 class="align card-title"> CHOOSE A TOUR </h3>
        <br>
        <div class="card-group align">
            <div class="card">
                <img class="card-img-top" src="{% static 'odyssey/assets/253x100.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ORBITAL TOUR</h5>
                    <p class="card-text">tour that orbits the earth, iss, moon and other planets maybe.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'program' %}" class="card-link">View the itinerary</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'odyssey/assets/253x100.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ISS TOUR</h5>
                    <p class="card-text">flies to iss and provided a tour inside the iss. will orbit the earth and moon
                        before
                        landing.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'program' %}" class="card-link">View the itinerary</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'odyssey/assets/253x100.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MOON TOUR</h5>
                    <p class="card-text">flies and lands on the moon with a guided tour on where the first moon landing
                        is. will
                        leave and orbit iss and earth before landing on earth.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'program' %}" class="card-link">View the itinerary</a>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <h3 class="align card-title"> ADD THE PASSENGERS </h3>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="tourChoice">First Name</label>
                <select name = "tourChoice">
                    <option value = "orbital">$10k Orbital Tour</option>
                    <option value = "iss">$10k ISS Tour</option>
                    <option value = "moon">$20k Moon Tour</option>
                    <option value = "deluxe">$35k Deluxe All-Inclusive Package</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name = "firstName" placeholder="Passenger's first name">
            </div>
            <div class="form-group col-md-4">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name = "lastName" placeholder="Passenger's last name">
            </div>
            <div class="form-group col-md-4">
                <label for="birthday">Birthday</label>
                <input type="text" class="form-control" id="birthday" name = "birthday" placeholder="mm/dd/yyyy">
            </div>
        </div>
        <!--<button type="submit" class="btn btn-primary align">Add a passenger</button>-->
        <br>
        <br>
        <hr>
        <br>
        <h3 class="align card-title">CHECKOUT </h3>
        <br>
        <h3 class="align card-title"> BILLING ADDRESS </h3>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstNameBill" name = "firstNameBill" placeholder="First name">
            </div>
            <div class="form-group col-md-4">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastNameBill" name = "lastNameBill" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" name = "inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" name = "inputAddress" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name = "inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control" name = "inputState">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip" name = "inputZip">
            </div>
        </div>

        <br>
        <h3 class="align card-title"> PAYMENT METHOD </h3>
        <div class="d-block my-3 align">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked=""
                    required="">
                <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="paypal">PayPal</label>
            </div>
        </div>
        <div class="row align">
            <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" name = "cc-name" placeholder="" required="">
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback"> Name on card is required </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" name = "cc-number" placeholder="" required="">
                <div class="invalid-feedback"> Credit card number is required </div>
            </div>
        </div>
        <div class="row align">
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" name = "cc-expiration" placeholder="" required="">
                <div class="invalid-feedback"> Expiration date required </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" name = "cc-ccv" placeholder="" required="">
                <div class="invalid-feedback"> Security code required </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm and book the tour</button>
    </form>
</div>

{% endblock %}