{% extends "odyssey/layout.html" %}

{% block body %}

<div class="parallaxOrder">
</div>

<br>
<br>

<div class="sources-container">
        <div class="flex-child">
                <p class="centeredText">We, the Webmaster team from Chapter 1717, affirm that we DID NOT use any
                        pre-built
                        templates or themes from
                        Bootstrap. All themes and templates that are present on this website are built on our own on the
                        Bootstrap
                        framework.</p>
                <br>
                <p class="centeredText"><a
                                href="https://drive.google.com/file/d/12724gkciYmVUGaQ8EP84_zxEGMKcX7h5/view?usp=sharing"><b>Plan
                                        of
                                        Work
                                        Log</b></a>
                </p>

                <p class="centeredText"><a
                                href="https://drive.google.com/file/d/1TKZ8pbRv56cglks2DeLgQ9Tskvkvzgze/view?usp=sharing"><b>Copyright
                                        Checklist</b></a>
                </p>
        </div>

        <div class="flex-child">
                <p class="centeredText">
                        Languages used: Python (Django), Javascript, HTML, and CSS.
                </p>
                <br>
                <br>
                <p class="centeredText">Click <a href="{% url 'admin:index' %}"><b>here</b></a> for database
                        administration access.
                </p>
                <p class="centeredText">Username: judge</p>
                <p class="centeredText">Password: judgepassword</p>
        </div>
</div>

<br>
<br>

<h4 class="headingOrange-sources"><b>MEDIA SOURCES</b></h4>
<div class="underlineSmall"></div>

<br>
<br>

<div class="sources-container">
        <div class="flex-child">
                <div class="container">
                        <p class="break">Aal. “Care Treatment Heart SVG Vector.” SVG Repo,
                                https://www.svgrepo.com/svg/503997/care-treatment-heart. Accessed
                                21 Mar. 2023.</p>
                        <p class="break">Adventures of KM&amp;G-Morris. “Big Moon.” Flickr,
                                https://www.flickr.com/photos/mzmo/3186645474. Accessed 21 Mar.
                                2023. </p>
                        <p class="break">Esri. “Satellite 1 SVG Vector.” SVG Repo,
                                https://www.svgrepo.com/svg/451274/satellite-1.
                                Accessed 21 Mar. 2023.</p>
                        <p class="break"> Ey, Les. “Earth in Space.” Public Domain Pictures,
                                https://www.publicdomainpictures.net/en/view-image.php?image=308781&amp;picture=earth-in-space.
                                Accessed 21 Mar.
                                2023. </p>
                        <p class="break">Fabric Design System. “Seat SVG Vector.” SVG Repo,
                                https://www.svgrepo.com/svg/448840/seat.
                                Accessed 21 Mar. 2023.
                        </p>
                        <p class="break"> Font Awesome. “Fa-Check.” Font Awesome, https://fontawesome.com/v4/icon/check.
                                Accessed 21 Mar.
                                2023. </p>
                        <p class="break">Font Awesome. “Fa-Clock-o.” Font Awesome,
                                https://fontawesome.com/v4/icon/clock-o. Accessed 21
                                Mar. 2023. </p>
                        <p class="break">GPA Photo Archive. “Apollo 11.” Flickr, 6 July 2016,
                                https://www.flickr.com/photos/iip-photo-archive/28052687481.
                                Accessed 21 Mar. 2023.</p>
                        <p class="break">Hippo Px, https://www.hippopx.com/en/query?q=iss. Accessed 21 Mar. 2023. </p>
                        <p class="break">Iconsax. “Arrow Circle Down SVG Vector.” SVG Repo,
                                https://www.svgrepo.com/svg/495001/arrow-circle-down. Accessed 21
                                Mar. 2023.</p>
                        <p class="break">Inspiration4Photos. “Earth from Space.” Flickr, 17 Sept. 2021,
                                https://www.flickr.com/photos/inspiration4photos/51682512625. Accessed 21 Mar. 2023.
                        </p>
                        <p class="break">Jurvetson, Steve. “ISS Floating in Space.” Flickr, 27 Aug. 2007,
                                https://www.flickr.com/photos/jurvetson/1245065411.
                                Accessed 21 Mar. 2023. </p>
                        <p class="break">Klever Space. “Rocket SVG Vector.” SVG Repo,
                                https://www.svgrepo.com/svg/488676/rocket.
                                Accessed 21
                                Mar. 2023. </p>
                        <p class="break">NASA. “8 Day Old Moon.” Flickr, 18 Apr. 2013,
                                https://www.flickr.com/photos/nasa_goddard/8736737554.
                                Accessed 21 Mar.
                                2023. </p>
                        <p class="break">NASA. “An Aurora Dimly Intersects with Earth's Airglow.” NASA, 30 Oct. 2021,
                                https://www.nasa.gov/image-feature/an-aurora-dimly-intersects-with-earths-airglow.
                                Accessed 16
                                Feb. 2023. </p>
                        <p class="break">NASA. “Apollo 17 Landing Site, The Taurus-Littrow Valley.” NASA, 20 Apr. 2022,
                                https://moon.nasa.gov/resources/484/apollo-17-landing-site-the-taurus-littrow-valley/?category=images.
                                Accessed
                                21 Mar. 2023.</p>
                        <p class="break">NASA. “BFR in Flight.” Flickr, 20 Sept. 2018,
                                https://www.flickr.com/photos/spacex/30934147078/in/photostream/.
                                Accessed 9 Feb. 2023. </p>
                        <p class="break">SVG Repo. “United States Map Usa America.” SVG Repo,
                                https://www.svgrepo.com/svg/308372/united-states-map-usa-america. Accessed 30 Mar. 2023.
                        </p>
                </div>
        </div>

        <div class="flex-child">
                <div class="container">
                        <p class="break">NASA. “First Lunar Earthrise, Old and New.” NASA, 24 Aug. 2018,
                                https://moon.nasa.gov/resources/351/first-lunar-earthrise-old-and-new/?category=images.
                                Accessed
                                21 Mar. 2023.
                        </p>
                        <p class="break">NASA. “International Space Station (ISS), Russian Space Program.” NASA, 1 July
                                2001,
                                https://picryl.com/media/international-space-station-iss-5f0902. Accessed 21 Mar. 2023.
                        </p>
                        <p class="break">NASA. “Moore F Crater.” NASA, 13 Aug. 2018,
                                https://moon.nasa.gov/resources/349/moore-f-crater/?category=images.
                                Accessed 21 Mar. 2023. </p>
                        <p class="break">NASA. “Sun Over Earth.” Flicker, 17 Oct. 2003,
                                https://www.flickr.com/photos/nasamarshall/5091372229.
                                Accessed 10
                                Feb. 2023. </p>
                        <p class="break">NASA. “The International Space Station as of Oct. 4, 2018.” Flickr, 4 Oct.
                                2018,
                                https://www.flickr.com/photos/nasa2explore/44911459904. Accessed 13 Feb. 2023. </p>
                        <p class="break">Neuicons. “Earth SVG Vector.” SVG Repo,
                                https://www.svgrepo.com/svg/487306/earth. Accessed 21
                                Mar.
                                2023. </p>
                        <p class="break">Neuicons. “Moon Landing SVG Vector.” SVG Repo,
                                https://www.svgrepo.com/svg/487596/moon-landing.
                                Accessed 21 Mar.
                                2023. </p>
                        <p class="break">Neuicons. “Sound Wave SVG Vector.” SVG Repo,
                                https://www.svgrepo.com/svg/488452/sound-wave.
                                Accessed
                                21 Mar. 2023.
                        </p>
                        <p class="break">“Smiling Business Woman Png.” Pngitem,
                                https://www.pngitem.com/middle/iJxxoTm_smiling-business-woman-png-transparent-png/.
                                Accessed 21
                                Mar. 2023. </p>
                        <p class="break">“Smiling Person Png.” Nicepng,
                                https://www.nicepng.com/ourpic/u2e6q8a9a9i1w7w7_smiling-person-png-man-with-arms-crossed-png/.
                                Accessed 21 Mar.
                                2023.</p>
                        <p class="break">Software Mansion. “Star 2 SVG Vector.” SVG Repo,
                                https://www.svgrepo.com/svg/505781/star-2.
                                Accessed
                                21 Mar. 2023.
                        </p>
                        <p class="break">SpaceX. “Axiom-1 Mission.” Flickr, 26 Apr. 2022,
                                https://www.flickr.com/photos/spacex/52031126906/in/photostream/.
                                Accessed 24 Jan. 2023. </p>
                        <p class="break">SpaceX. “BFR at Stage Separation.” Flickr, 20 Sept. 2018,
                                https://www.flickr.com/photos/spacex/30934146778/. Accessed
                                21 Jan. 2023.</p>
                        <p class="break">SpaceX. “BFR in Flight.” Flickr, 20 Sept. 2018,
                                https://www.flickr.com/photos/spacex/30934146988/.
                                Accessed 10 Feb.
                                2023. </p>
                        <p class="break">SpaceX. “Crew Demo-2 Mission.” Flickr, 10 Jan. 2020,
                                https://www.flickr.com/photos/spacex/49971436642/in/photostream/. Accessed 28 Jan. 2023.
                        </p>
                        <p class="break">SpaceX. “Crew Demo-2 Mission.” Flickr, 3 Jan. 2020,
                                https://www.flickr.com/photos/spacex/49927519643/. Accessed 21
                                Mar. 2023. </p>
                        <p class="break">SpaceX. “Crew-1 Mission.” Flickr, 4 May 2021,
                                https://www.flickr.com/photos/spacex/51158778650/.
                                Accessed 27 Jan.
                                2023. </p>
                </div>
        </div>
</div>

<br>
<br>
<br>
<br>

<h4 class="headingOrange-sources"><b>SOURCES</b></h4>
<div class="underlineSmall"></div>

<div class="sources-container">
        <div class="flex-child">
                <div class="container">
                        <p class="break">“181 Things to Do on the Moon.” NASA, NASA,
                                https://science.nasa.gov/science-news/science-at-nasa/2007/02feb_181.</p>
                        <p class="break">Alicia, et al. “The 20 Most Frequently Asked Questions about the International
                                Space
                                Station.” The 20 Most Frequently Asked Questions about the International Space Station,
                                23 Oct. 2020,
                                https://www.kennedyspacecenter.com/blog/the-20-most-frequently-asked-questions-about-the-international-space-station.
                        </p>
                        <p class="break">“An Astronaut's Eye View: Life inside the International Space Station.” World
                                Economic Forum,
                                17 Mar. 2021,
                                https://www.weforum.org/agenda/2021/03/international-space-station-astronauts-nasa/.
                        </p>
                        <p class="break">Bartels, Meghan. “What Will Astronauts Do on the Moon When Humans Go Back?”
                                Space.com, Space,
                                25 July 2019,
                                https://www.space.com/what-astronauts-will-do-on-moon-when-they-return.html. </p>
                </div>
        </div>
        <div class="flex-child">
                <p class="break">Garcia, Mark. “Top Five Technologies Needed for a Spacecraft to Survive Deep
                        Space.” NASA,
                        NASA, 30 July 2018,
                        https://www.nasa.gov/feature/top-five-technologies-needed-for-a-spacecraft-to-survive-deep-space.
                </p>
                <p class="break">Mars, Kelli. “Johnson Space Center Home.” NASA, NASA, 11 Feb. 2015,
                        https://www.nasa.gov/centers/johnson/home/index.html. </p>
                <p class="break">Moskowitz, Clara. “SpaceX Launch: A Step-by-Step Guide.” The Christian Science
                        Monitor, The
                        Christian Science Monitor, 16 May 2012,
                        https://www.csmonitor.com/Science/2012/0516/SpaceX-launch-A-step-by-step-guide. </p>
                <p class="break">Quora. “What Are the Safety Regulations for Spacecraft?” HuffPost, HuffPost, 21
                        Mar. 2017,
                        https://www.huffpost.com/entry/what-are-the-safety-regulations-for-spacecraft_b_58c8577be4b05675ee9c5b1d.
                </p>
                <p class="break">Yao, Kevin Kristian. “Space Travel: 15 Unique Things to Do on Mars and on the
                        Moon.” Trip101,
                        Trip101, 16 Sept. 2020,
                        https://trip101.com/article/space-travel-unique-things-to-do-on-mars-and-on-the-moon.
                </p>
        </div>
</div>

<br>
<p class="centeredText">The Odyssey logo was made by our team using <a href="canva.com">Canva</a>.</p>

<br>
<br>
<br>
<br>

<h4 class="headingOrange-sources"><b>VIDEO SOURCES</b></h4>
<div class="underlineSmall"></div>

<div class="sources-container">
        <div class="flex-child">
                <div class="container">
                        <p class="centeredText">The Youtube video linked under the home page of this website was made by
                                us, using videos that
                                are licensed under Creative Commons.</p>

                        <p class="centeredText"><a
                                        href="https://pixabay.com/videos/rocket-thrusters-nasa-space-shuttle-235/">Rocket
                                        Boosters</a></p>
                        <p class="centeredText"><a
                                        href="https://archive.org/details/NASA-Ultra-High-Definition/47+Hatch+opening.mp4">Hatch
                                        Opening</a></p>
                        <p class="centeredText"><a
                                        href="https://archive.org/details/ISSVideoResourceEarthViews720p">Earth View</a>
                        </p>
                        <p class="centeredText"><a
                                        href="https://archive.org/details/ISSVideoResourceExteriorViews720p">ISS
                                        View</a></p>
                        <p class="centeredText"><a
                                        href="https://images.nasa.gov/details/Artemis_I_Orion_in_space_animation4K_2021">Artemis
                                        I Orion in Space Animation</a>
                        </p>

                        <p class="centeredText">As per NASA's <a
                                        href="https://www.nasa.gov/multimedia/guidelines/index.html">multimedia
                                        guidelines</a>, all video and image
                                content are not subjected to copyright in the United States.</p>

                        <p class="centeredText"><a href="https://www.youtube.com/watch?v=rct5oM0GE-Y">Drift by Pages
                                        Turn (Copyright Free
                                        Music)</a></p>
                </div>
        </div>
</div>

<br>
<br>

{% endblock %}