{% extends "odyssey/layout.html" %}

{% block body %}

<div class="parallaxOrder">
</div>

<br>
<br>

<h4 class="headingOrange"><b>AFFIRMATION STATEMENT</b></h4>
<p class="centeredText">We, the Webmaster team from Chapter 1717, affirm that we DID NOT use any pre-built
        templates or themes from
        Bootstrap. All themes and templates that are present on this website are built on our own on the Bootstrap
        framework.</p>

<br>
<br>

<h4 class="headingOrange"><b>DOCUMENTATION</b></h4>
<p class="centeredText">Copyright Checklist</p>
<p class="centeredText">Plan of Work Log</p>

<br>
<br>

<h4 class="headingOrange"><b>SOURCES</b></h4>
<p class="centeredText"><a
                href="https://www.nasa.gov/feature/top-five-technologies-needed-for-a-spacecraft-to-survive-deep-space">NASA
                Top
                5
                Technologies in a Spacecraft</a></p>
<p class="centeredText"><a href="https://www.csmonitor.com/Science/2012/0516/SpaceX-launch-A-step-by-step-guide">Step by
                Step Spacecraft
                Launch</a></p>
<p class="centeredText"><a
                href="https://www.nasa.gov/centers/johnson/pdf/606877main_FS-2011-11-057-JSC-astro_trng.pdf">NASA
                Astronaut
                Training</a></p>
<p class="centeredText"><a
                href="https://www.huffpost.com/entry/what-are-the-safety-regulations-for-spacecraft_b_58c8577be4b05675ee9c5b1d">Safety
                Regulations of a Spacecraft</a></p>

<br>
<br>

<h4 class="headingOrange"><b>PHOTO SOURCES</b></h4>
<p class="centeredText">All of the pictures and graphics used in this website are licensed under Creative Commons.</p>

<p class="centeredText"><a href="https://www.flickr.com/photos/nasamarshall/5091372229">Sun Over Earth</a></p>
<p class="centeredText"><a href="https://stocksnap.io/photo/rocketship-spaceship-IETQP9ZADV">Rocketship Spaceship in
                Stocksnap</a></p>
<p class="centeredText"><a href="https://www.flickr.com/photos/spacex/49971436642/in/photostream/">Crew Demo-2 Mission
                by SpaceX</a></p>
<p class="centeredText"><a href="https://www.flickr.com/photos/spacex/51158778650/">Crew-1 Mission by SpaceX</a></p>
<p class="centeredText"><a href="https://commons.wikimedia.org/wiki/File:BFR_at_stage_separation_2-2018.jpg">BFR at
                Stage Separation by
                SpaceX</a></p>
<p class="centeredText"><a href="https://www.flickr.com/photos/nasa2explore/44911459904">The International Space Station
                by NASA</a></p>
<p class="centeredText"><a href="https://www.nasa.gov/sites/default/files/thumbnails/image/iss066e023536.jpg">Aurora
                Seen from Space by
                NASA</a></p>
<p class="centeredText"><a href="https://images.nasa.gov/details-PIA00130">The Moon by NASA</a></p>
<p class="centeredText"><a href="https://www.flickr.com/photos/spacex/30934146988/">BFR in Flight by SpaceX</a></p>
<p class="centeredText"><a href="https://www.flickr.com/photos/spacex/30934147078/in/photostream/">BFR in Flight by
                SpaceX</a></p>
<p class="centeredText"><a href="https://www.flickr.com/photos/spacex/39684491043/">Crew Demo-1 Mission</a></p>
<p class="centeredText"><a href="https://www.flickr.com/photos/spacex/52031126906/in/photostream/">Axiom-1 Mission</a>
</p>

<br>
<br>

<h4 class="headingOrange"><b>VIDEO SOURCES</b></h4>
<p class="centeredText">The Youtube video linked under the home page of this website was made by us, using videos that
        are licensed under Creative Commons.</p>

<p class="centeredText"><a href="https://pixabay.com/videos/rocket-thrusters-nasa-space-shuttle-235/">Rocket
                Boosters</a></p>
<p class="centeredText"><a href="https://archive.org/details/NASA-Ultra-High-Definition/47+Hatch+opening.mp4">Hatch
                Opening</a></p>
<p class="centeredText"><a href="https://archive.org/details/ISSVideoResourceEarthViews720p">Earth View</a></p>
<p class="centeredText"><a href="https://archive.org/details/ISSVideoResourceExteriorViews720p">ISS View</a></p>


<p class="centeredText">As per NASA's <a href="https://www.nasa.gov/multimedia/guidelines/index.html">multimedia
                guidelines</a>, all video and image
        content are not subjected to copyright in the United States.</p>

<p class="centeredText"><b>This website was made by Team 1 of Chapter 1717: #808593, #599356, #742285, #699690, and
                #742375.</b></p>

<br>
<br>

{% endblock %}