{% extends "odyssey/layout.html" %}

{% block body %}

<h2>Sources</h2>
<h4>will tidy up later. this is just a link dump for now.</h4>

<p>https://www.flickr.com/photos/nasamarshall/5091372229</p>
<p>https://www.nasa.gov/centers/johnson/pdf/606877main_FS-2011-11-057-JSC-astro_trng.pdf</p>
<p>https://stocksnap.io/photo/rocketship-spaceship-IETQP9ZADV</p>
<p>https://stocksnap.io/photo/space-spaceship-SQBE2C5NWT</p>
<p>https://www.flickr.com/photos/spacex/49971436642/in/photostream/</p>
<p>https://www.flickr.com/photos/spacex/51158778650/</p>
<p>https://commons.wikimedia.org/wiki/File:BFR_at_stage_separation_2-2018.jpg</p>
<P>https://www.huffpost.com/entry/what-are-the-safety-regulations-for-spacecraft_b_58c8577be4b05675ee9c5b1d</P>
<p>https://www.nasa.gov/feature/top-five-technologies-needed-for-a-spacecraft-to-survive-deep-space</p>



{% endblock %}